.formularios{
  width: 50%; /* Ancho del 50% */
  border: 1px solid black; /* Borde gris */
  padding: 20px; /* Espaciado interno */
  margin: 10px; /* Margen superior */
  
}

.form-container {
  display: flex;
  gap: 20px; /* Espacio entre los formularios */
}

.btn{
  margin: 2px;
}